<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<XML>
	<Paths>
		<docPath>/users/js/importantDocument.doc</docPath>
		<logPath>/users/js/dailyLog.log</logPath>
	</Paths>	
<Mail Account="testeES114@outlook.pt" Password="grupo114"/>
<Facebook Token="EAAEdPLJA8d0BAKBpufqqEP96zJusMI6EhV9ErThejmx0ZBgEhFnyhZCTCZADRdWV3WIsPgzeUwyBbd17ucBcITE3sCZBdXbP1n0pUUZBDHPXE1BqqZCHz6sFvpTOZBhb3Wiy6M4RoAYHP1Acul3SaM3NK0SvLkAqBmIcYcEZBYOMFwZDZD"/>
	<Twitter AccessToken="1052294113620611073-wO7U7iqqQ4v7jFqb3Pb3pqnJa7HCdM" AccessTokenSecret="O94jOOxoSRsAfQAvu4GHrykJUrZ0nzoubUpKdGEd6TXGF" ConsumerKey="QRFyiUq64mbtFLxZUGAMoFb7T" ConsumerSecret="SJCB1ZmR0xxZtV95zUEfxNSkZWXU76pf1jIhG7WXEzDiHIrd0I"/>

<Registo Pass="vamoster20" User="G114"/>



<Teste Junit="Sucesso"/>

<Mensagens>
<Mensagem0 Author="Autor 1" Data="Fri Dec 07 14:53:03 GMT 2018" Text="texto 1"/>
<Mensagem1 Author="Autor 2" Data="Fri Dec 07 14:53:03 GMT 2018" Text="texto 2"/>
</Mensagens>
</XML>
